body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem; /* 16px = 100% = 1em */
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #66BFBF

}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

div {
  /* background-color: #E4F9F5 */
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a:hover {
  color: #EAF6F6;
}

p {
  color: #40514E;
  line-height: 2;
}

hr {
  border-style: dotted;
  border-width: 10px 10px 0;
  width: 6%;
  margin: 100px auto;
  color: #EAF6F6;
  padding: 0;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: 50px;
  padding-bottom: 100px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px;
}

.skill-row {
  text-align: left;
  width: 50%;
  margin: 115px auto;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 30%;
}

.bottom-cloud {
  position: absolute;
  left: 30%;
  bottom: 300px;
}

.fullstack-img {
  width: 33%;
  float: left;
  margin-right: 30px;
}

.game-img {
  width: 33%;
  float: right;
  margin-left: 30px;
}

.ai-img {
  width: 33%;
  float: left;
  margin-right: 30px;
}

.profile-pic {
  width: 20%;
}

.penultimate-message {
  margin: 60px auto;
}

.contact-me {
  margin: auto;
  width: 40%;
}

.final-message {
  margin: 60px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #11cdd4;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
  text-decoration: none;
}

.footer-link {
  margin: 0 20px;
  text-decoration: none;
}

.trademark {
  color: #EAF6F6;
  margin: 30px auto 0;
  font-size: 0.75rem;
}
